{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheet %}
    <style>
        .grid-image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 300ms ease-out;
        }

        .grid-image:hover {
            transform: scale(1.15) rotate(3deg);
            cursor: pointer;
        }

        .grid {
            margin: 0 auto;
        }

        .grid-sizer,
        .grid-item {
            width: calc(25% - 10px);
            margin-bottom: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            overflow: hidden;
        }

        @media (max-width: 992px) {
            .grid-sizer,
            .grid-item {
                width: calc(33.333% - 10px);
                margin-bottom: 10px;
            }
        }

        @media (max-width: 768px) {
            .grid-sizer,
            .grid-item {
                width: calc(50% - 10px);
                margin-bottom: 10px;
            }
        }

        @media (max-width: 576px) {
            .grid-sizer,
            .grid-item {
                width: 100%;
                margin-bottom: 10px;
            }
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center">Accueil</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="grid">
                    <div class="grid-sizer"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
    function init() {
      var grid = $('.grid').masonry({
          percentPosition: true,
          columnWidth: '.grid-sizer',
          itemSelector: '.grid-item',
          gutter: 10,
          stagger: 30,
      });

      {% for img in images %}
      var items{{loop.index}} = $('<a class="grid-item"'+
      'href="/devoir-idc2019/image/{{ img }}">'+
      '<img class="grid-image" src="public/images/{{ img }}">'+
      '</a>');
      setTimeout(function () {
        grid.append( items{{loop.index}} ).masonry( 'appended', items{{loop.index}} );
        delete items{{loop.index}};
        grid.masonry();
      }, 50*{{loop.index}});
      {% endfor %}}
}

init();
swup.on('contentReplaced', init);

    </script>

{% endblock %}
