{% extends "base.html.twig" %}

{% block title %}{{ url }}{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        #map {
            width: 100%;
            height: 50vh;
            background-color: grey;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid pt-5">
        <h1 class="text-center">
            <svg width="329.54873046874997px" height="159.230029296875px" xmlns="http://www.w3.org/2000/svg"
                 viewBox="85.22563476562502 -4.615014648437494 329.54873046874997 159.230029296875"
                 style="background: rgba(0, 0, 0, 0);" preserveAspectRatio="xMidYMid" class="img-fluid">
                <defs>
                    <filter id="editing-hole" x="-100%" y="-100%" width="300%" height="300%">
                        <feFlood flood-color="#000" result="black"></feFlood>
                        <feMorphology operator="dilate" radius="2" in="SourceGraphic" result="erode"></feMorphology>
                        <feGaussianBlur in="erode" stdDeviation="4" result="blur"></feGaussianBlur>
                        <feOffset in="blur" dx="2" dy="2" result="offset"></feOffset>
                        <feComposite operator="atop" in="offset" in2="black" result="merge"></feComposite>
                        <feComposite operator="in" in="merge" in2="SourceGraphic" result="inner-shadow"></feComposite>
                    </filter>
                </defs>
                <g filter="url(#editing-hole)">
                    <g transform="translate(138.43218564987183, 103.41500091552734)">
                        <path d="M15.33-2.05L15.33-2.05L15.33-2.05Q8.12 3.53 4.76 3.53L4.76 3.53L4.76 3.53Q2.95 3.53 2.09 1.76L2.09 1.76L2.09 1.76Q1.23 0 1.23-2.05L1.23-2.05L1.23-2.05Q1.23-5.99 4.55-13.86L4.55-13.86L4.55-13.86Q7.87-21.73 10.91-21.73L10.91-21.73L10.91-21.73Q12.46-21.73 13.57-15.58L13.57-15.58L13.57-15.58Q14.68-9.43 15.83-6.64L15.83-6.64L15.83-6.64Q21.40-12.55 31.98-26.32L31.98-26.32L31.98-26.32Q45.26-43.79 49.61-45.43L49.61-45.43L49.61-45.43Q51.09-46.00 52.64-46.00L52.64-46.00L52.64-46.00Q54.20-46.00 55.23-45.35L55.23-45.35L55.23-45.35Q56.25-44.69 56.25-43.71L56.25-43.71L56.25-43.71Q56.25-42.31 53.87-42.07L53.87-42.07L53.87-42.07Q51.00-40.51 45.02-34.52L45.02-34.52L45.02-34.52Q39.03-28.70 35.42-23.62L35.42-23.62L35.42-23.62Q26.65-11.40 17.38-3.69L17.38-3.69L17.38-3.69Q21.98 3.12 31.82 3.12L31.82 3.12L31.82 3.12Q32.88 3.12 35.01 2.95L35.01 2.95L35.01 2.95Q57.81 0.82 67.32-16.81L67.32-16.81L67.32-16.81Q71.18-23.86 71.18-30.75L71.18-30.75L71.18-30.75Q71.18-37.64 66.17-43.13L66.17-43.13L66.17-43.13Q62.16-47.64 57.44-48.71L57.44-48.71L57.44-48.71Q52.73-49.77 47.81-49.77L47.81-49.77L47.81-49.77Q35.18-49.77 24.52-43.95L24.52-43.95L24.52-43.95Q13.28-37.80 13.28-30.18L13.28-30.18L13.28-30.18Q13.28-28.13 14.39-26.81L14.39-26.81L14.39-26.81Q15.50-25.50 15.91-25.34L15.91-25.34L15.42-25.34L15.42-25.34Q13.28-25.75 11.64-27.47L11.64-27.47L11.64-27.47Q9.84-29.60 9.84-31.98L9.84-31.98L9.84-31.98Q9.84-40.18 20.13-46.08L20.13-46.08L20.13-46.08Q30.42-51.99 44.28-51.99L44.28-51.99L44.28-51.99Q50.68-51.99 57.40-50.51L57.40-50.51L57.40-50.51Q64.12-49.04 69.62-43.46L69.62-43.46L69.62-43.46Q75.93-36.90 75.93-28.62L75.93-28.62L75.93-28.62Q75.93-22.47 72.32-15.91L72.32-15.91L72.32-15.91Q66.09-4.59 53.71 0.66L53.71 0.66L53.71 0.66Q43.79 4.84 32.31 4.84L32.31 4.84L32.31 4.84Q20.83 4.84 15.33-2.05ZM4.18-2.38L4.18-2.38L4.18-2.38Q4.18 0.16 5.17 2.05L5.17 2.05L5.17 2.05Q8.69 0.49 13.69-4.43L13.69-4.43L13.69-4.43Q11.32-8.36 10.70-10.62L10.70-10.62L10.70-10.62Q10.09-12.87 9.84-16.56L9.84-16.56L9.84-16.56Q4.18-8.45 4.18-2.38ZM15.91-25.34L15.91-25.34L15.91-25.34Q15.99-25.34 16.07-25.42L16.07-25.42L16.07-25.42Q16.07-25.26 16.03-25.26L16.03-25.26L16.03-25.26Q15.99-25.26 15.91-25.34ZM98.85-32.68L98.85-32.68L98.85-32.68Q94.63-30.18 94.14-30.18L94.14-30.18L94.14-30.18Q93.64-30.18 93.64-30.67L93.64-30.67L93.64-30.67Q93.64-30.91 93.89-31.16L93.89-31.16L93.89-31.16Q97.99-34.28 102.50-37.88L102.50-37.88L102.50-37.88Q103.40-38.54 103.89-38.54L103.89-38.54L103.89-38.54Q104.71-38.54 104.71-37.52L104.71-37.52L104.71-37.52Q104.71-36.49 103.89-35.92L103.89-35.92L103.89-35.92Q103.07-35.18 98.85-32.68ZM79.70 1.07L79.70 1.07L79.70 1.07Q78.80 1.07 78.06 0.82L78.06 0.82L78.06 0.82Q72.82-0.66 72.82-5.08L72.82-5.08L72.82-5.08Q72.82-10.82 80.03-18.37L80.03-18.37L80.03-18.37Q87.25-25.91 92.99-25.91L92.99-25.91L92.99-25.91Q94.87-25.91 96.06-24.89L96.06-24.89L96.06-24.89Q97.25-23.86 97.25-22.39L97.25-22.39L97.25-22.39Q97.25-17.79 90.32-13.61L90.32-13.61L90.32-13.61Q83.39-9.43 79.05-9.43L79.05-9.43L79.05-9.43Q78.39-9.43 77.90-9.59L77.90-9.59L77.90-9.59Q76.67-7.38 76.67-4.92L76.67-4.92L76.67-4.92Q76.67-0.66 80.73-0.66L80.73-0.66L80.73-0.66Q84.79-0.66 91.27-6.15L91.27-6.15L91.27-6.15Q96.10-10.00 99.79-14.76L99.79-14.76L99.79-14.76Q100.53-15.74 101.07-15.74L101.07-15.74L101.07-15.74Q101.60-15.74 101.60-15.25L101.60-15.25L101.60-15.25Q101.60-14.76 100.94-13.86L100.94-13.86L100.94-13.86Q96.35-7.87 90.20-3.40L90.20-3.40L90.20-3.40Q84.05 1.07 79.70 1.07ZM95.20-22.55L95.20-22.55L95.20-22.55Q95.20-23.53 93.11-23.53L93.11-23.53L93.11-23.53Q91.02-23.53 87.17-20.34L87.17-20.34L87.17-20.34Q82-16.07 79.13-11.40L79.13-11.40L79.13-11.40Q79.62-11.23 80.20-11.23L80.20-11.23L80.20-11.23Q83.31-11.23 88.52-14.56L88.52-14.56L88.52-14.56Q93.73-17.88 95.04-21.81L95.04-21.81L95.04-21.81Q95.20-22.22 95.20-22.55ZM118.00-26.40L118.00-26.40L129.81-26.57L129.81-26.57Q130.05-26.40 130.05-26.32L130.05-26.32L130.05-26.32Q130.05-25.58 119.84-24.27L119.84-24.27L119.84-24.27Q109.63-22.96 108.81-22.71L108.81-22.71L108.81-22.71Q107.26-21.32 103.07-14.39L103.07-14.39L103.07-14.39Q98.89-7.46 98.89-4.26L98.89-4.26L98.89-4.26Q98.89-1.23 103.07-1.23L103.07-1.23L103.07-1.23Q105.04-1.23 108.24-2.46L108.24-2.46L108.24-2.46Q111.44-3.69 113.16-4.76L113.16-4.76L113.16-4.76Q117.75-7.63 123-13.20L123-13.20L123-13.20Q124.15-14.35 124.56-14.35L124.56-14.35L124.56-14.35Q124.80-14.35 124.80-13.86L124.80-13.86L124.80-13.86Q124.80-13.37 123.57-11.89L123.57-11.89L123.57-11.89Q119.31-6.64 113.98-3.44L113.98-3.44L113.98-3.44Q107.58 0.49 101.76 0.49L101.76 0.49L101.76 0.49Q99.22 0.49 97.62-0.61L97.62-0.61L97.62-0.61Q96.02-1.72 96.02-5.08L96.02-5.08L96.02-5.08Q96.02-8.45 98.97-14.31L98.97-14.31L98.97-14.31Q101.93-20.17 103.48-23.04L103.48-23.04L103.48-23.04Q102.34-22.80 101.52-22.80L101.52-22.80L101.52-22.80Q99.14-22.80 99.14-24.68L99.14-24.68L99.14-24.68Q99.14-26.08 101.11-26.65L101.11-26.65L101.11-26.65Q101.35-26.65 101.84-26.73L101.84-26.73L106.60-26.73L106.60-26.73Q108.08-28.62 109.96-31.08L109.96-31.08L109.96-31.08Q112.26-34.03 113.08-34.03L113.08-34.03L113.08-34.03Q113.90-34.03 115.13-33.37L115.13-33.37L115.13-33.37Q116.36-32.72 116.36-31.82L116.36-31.82L116.36-31.82Q116.36-30.91 112.42-26.49L112.42-26.49L112.42-26.49Q114.55-26.40 118.00-26.40ZM148.17-24.52L148.17-24.52L149.32-24.76L149.32-24.76Q150.22-24.76 151.04-24.03L151.04-24.03L151.04-24.03Q151.86-23.29 151.86-22.88L151.86-22.88L151.86-22.88Q151.86-22.47 146.78-14.96L146.78-14.96L146.78-14.96Q141.70-7.46 141.70-4.51L141.70-4.51L141.70-4.51Q141.70-4.26 141.78-4.02L141.78-4.02L141.78-4.02Q142.19-2.13 143.58-2.13L143.58-2.13L143.58-2.13Q147.85-2.13 159.16-16.24L159.16-16.24L159.16-16.24Q159.41-16.56 159.74-16.56L159.74-16.56L159.74-16.56Q160.06-16.56 160.06-15.95L160.06-15.95L160.06-15.95Q160.06-15.33 159.33-14.35L159.33-14.35L159.33-14.35Q148.83-0.33 143.34-0.33L143.34-0.33L143.34-0.33Q142.60-0.33 141.94-0.57L141.94-0.57L141.94-0.57Q138.33-1.97 138.33-5.99L138.33-5.99L138.33-5.99Q138.33-7.38 138.66-8.77L138.66-8.77L133.58-3.85L133.58-3.85Q128.74 0.41 126.57 0.41L126.57 0.41L126.57 0.41Q124.39 0.41 122.43-0.98L122.43-0.98L122.43-0.98Q120.21-2.62 120.21-5.33L120.21-5.33L120.21-5.33Q120.21-11.32 128.58-19.64L128.58-19.64L128.58-19.64Q136.94-27.96 143.91-27.96L143.91-27.96L143.91-27.96Q146.62-27.96 147.52-26.08L147.52-26.08L147.52-26.08Q147.76-25.42 147.93-24.97L147.93-24.97L147.93-24.97Q148.09-24.52 148.17-24.52ZM123.66-4.35L123.66-4.35L123.66-4.35Q123.66-1.39 125.71-1.39L125.71-1.39L125.71-1.39Q130.46-1.39 138.66-11.81L138.66-11.81L147.35-23.78L147.35-23.78Q146.70-24.93 145.22-24.93L145.22-24.93L145.22-24.93Q140.22-24.93 131.94-17.18L131.94-17.18L131.94-17.18Q123.66-9.43 123.66-4.35ZM172.53-33.46L172.53-33.46Q173.76-33.46 174.87-32.68L174.87-32.68L174.87-32.68Q175.97-31.90 175.97-30.83L175.97-30.83L175.97-30.83Q175.97-29.77 174.95-28.99L174.95-28.99L174.95-28.99Q173.92-28.21 172.69-28.21L172.69-28.21L172.69-28.21Q171.46-28.21 170.44-29.11L170.44-29.11L170.44-29.11Q169.41-30.01 169.41-31.16L169.41-31.16L169.41-31.16Q169.41-33.46 172.53-33.46L172.53-33.46ZM157.69 0.90L157.69 0.90L157.69 0.90Q153.50 0.90 153.50-4.51L153.50-4.51L153.50-4.51Q153.50-8.94 158.34-16.77L158.34-16.77L158.34-16.77Q163.18-24.60 166.13-24.68L166.13-24.68L166.13-24.68Q166.95-24.68 167.98-24.03L167.98-24.03L167.98-24.03Q169.00-23.37 169.00-22.71L169.00-22.71L169.00-22.71Q168.59-22.14 168.02-21.44L168.02-21.44L168.02-21.44Q167.44-20.75 166.79-19.93L166.79-19.93L166.79-19.93Q166.13-19.11 164.98-17.59L164.98-17.59L164.98-17.59Q163.84-16.07 162.77-14.68L162.77-14.68L162.77-14.68Q156.62-6.72 156.62-3.73L156.62-3.73L156.62-3.73Q156.62-0.74 158.67-0.74L158.67-0.74L158.67-0.74Q160.39-0.74 163.34-2.62L163.34-2.62L163.34-2.62Q170.23-6.89 174.25-11.97L174.25-11.97L174.25-11.97Q175.73-13.86 176.26-13.86L176.26-13.86L176.26-13.86Q176.79-13.86 176.79-13.20L176.79-13.20L176.79-13.20Q176.79-12.55 174.91-10.58L174.91-10.58L174.91-10.58Q173.02-8.61 171.91-7.46L171.91-7.46L171.91-7.46Q170.81-6.31 170.40-5.95L170.40-5.95L170.40-5.95Q169.99-5.58 168.88-4.55L168.88-4.55L168.88-4.55Q167.77-3.53 167.20-3.12L167.20-3.12L167.20-3.12Q166.62-2.71 165.56-1.89L165.56-1.89L165.56-1.89Q164.49-1.07 163.67-0.70L163.67-0.70L163.67-0.70Q162.85-0.33 161.79 0.16L161.79 0.16L161.79 0.16Q160.06 0.90 157.69 0.90ZM176.46-4.10L176.46-4.10L176.46-4.10Q176.46-1.64 179.17-1.64L179.17-1.64L179.17-1.64Q181.88-1.64 186.14-4.51L186.14-4.51L186.14-4.51Q190.40-7.38 194.42-12.30L194.42-12.30L194.42-12.30Q195.41-13.61 195.98-13.61L195.98-13.61L195.98-13.61Q196.55-13.61 196.55-13.12L196.55-13.12L196.55-13.12Q196.55-12.63 193.19-8.86L193.19-8.86L193.19-8.86Q184.99 0.16 179.50 0.16L179.50 0.16L179.50 0.16Q176.79 0.16 174.91-1.11L174.91-1.11L174.91-1.11Q173.02-2.38 173.02-5.04L173.02-5.04L173.02-5.04Q173.02-7.71 174.41-11.23L174.41-11.23L174.41-11.23Q176.79-16.81 182.04-25.26L182.04-25.26L182.04-25.26Q191.63-40.84 195.65-40.84L195.65-40.84L195.65-40.84Q196.47-40.84 197.33-40.22L197.33-40.22L197.33-40.22Q198.19-39.61 198.28-38.87L198.28-38.87L198.28-38.87Q196.39-36.33 191.02-29.11L191.02-29.11L191.02-29.11Q185.65-21.89 183.60-18.74L183.60-18.74L183.60-18.74Q181.55-15.58 180.52-14.02L180.52-14.02L180.52-14.02Q179.50-12.46 179.01-11.60L179.01-11.60L179.01-11.60Q178.51-10.74 177.86-9.35L177.86-9.35L177.86-9.35Q176.46-6.56 176.46-4.10ZM210.90-2.95L208.28-1.23L208.28-1.23Q205.90 0.16 202.42 0.16L202.42 0.16L202.42 0.16Q198.93 0.16 197.09-2.13L197.09-2.13L197.09-2.13Q195.24-4.43 193.93-9.43L193.93-9.43L193.93-9.43Q192.45-7.95 191.88-7.95L191.88-7.95L191.88-7.95Q191.47-7.95 191.47-8.53L191.47-8.53L191.47-8.53Q191.47-9.10 191.88-9.51L191.88-9.51L191.88-9.51Q194.59-12.87 201.06-19.19L201.06-19.19L211.40-28.86L211.40-28.86Q215.82-33.05 216.64-33.05L216.64-33.05L216.64-33.05Q219.27-33.05 219.27-31.08L219.27-31.08L219.27-31.08Q219.27-30.09 218.49-29.15L218.49-29.15L218.49-29.15Q217.71-28.21 217.34-27.68L217.34-27.68L217.34-27.68Q216.97-27.14 216.56-26.65L216.56-26.65L216.56-26.65Q215.09-24.11 213.57-16.15L213.57-16.15L213.57-16.15Q212.05-8.20 211.23-5.08L211.23-5.08L211.23-5.08Q218.04-5.17 225.25-13.94L225.25-13.94L225.25-13.94Q226.07-14.76 226.48-14.76L226.48-14.76L226.48-14.76Q226.89-14.76 226.89-14.23L226.89-14.23L226.89-14.23Q226.89-13.69 226.16-12.79L226.16-12.79L226.16-12.79Q221.40-7.22 217.30-5.00L217.30-5.00L217.30-5.00Q214.84-3.77 210.90-2.95L210.90-2.95ZM197.21-10.33L197.21-10.33L197.21-10.33Q197.21-7.54 199.06-5.78L199.06-5.78L199.06-5.78Q200.90-4.02 203.20-4.02L203.20-4.02L203.20-4.02Q205.49-4.02 206.72-4.92L206.72-4.92L206.72-4.92Q208.36-5.82 209.96-12.46L209.96-12.46L209.96-12.46Q211.56-19.11 211.89-24.19L211.89-24.19L212.22-26.98L212.22-26.98Q207.71-23.62 202.58-18.29L202.58-18.29L202.58-18.29Q197.46-12.96 197.29-11.23L197.29-11.23L197.29-11.23Q197.21-10.74 197.21-10.33Z"
                              fill="#ccc"></path>
                    </g>
                </g>
                <style>text {
                        font-size: 64px;
                        font-family: Arial Black;
                        dominant-baseline: central;
                        text-anchor: middle;
                    }</style>
            </svg>
        </h1>
        <hr class="my-4">
        <div class="row mb-2">
            <div class="col ml-auto">
                <p class="lead"><strong>Fichier : </strong>{{ url }}</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col ml-auto">
                <a class="btn btn-outline-dark rounded-0"
                   href="/devoir-idc2019/image/{{ url }}/edit">Modifier</a>
                <a class="btn btn-outline-danger rounded-0 "
                   href="/devoir-idc2019/image/{{ url }}/delete"
                   onclick="return confirm('Êtes-vous sûr ?')">Supprimer</a>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-10 col-12 mx-auto">
                <img src="../public/images/{{ url }}" class="img-fluid sticky-top mb-lg-0 mb-md-4" style="top:30px">
            </div>
            <div class="col-xl-7 col-lg-6 col-md-10 col-12 mx-auto">
                <div class="card rounded-0">
                    <div class="card-header lead">Métadonnées</div>
                    <div class="card-body">
                        {% for type, values in meta %}
                            <div class="row">
                                <div class="col">
                                    {% if values is not iterable %}
                                        <span class="lead"><strong>{{ type }} :</strong> {{ values }}</span>
                                    {% else %}
                                        <div class="d-flex w-100 justify-content-between">
                                            <span class="lead"><strong>{{ type }} :</strong></span>
                                            <button class="btn btn-dark btn-sm rounded-0 my-1 px-5"
                                                    data-toggle="collapse"
                                                    data-target="#meta{{ loop.index }}">show
                                            </button>
                                        </div>
                                        <ul class="list-group list-group-flush collapse" id="meta{{ loop.index }}">
                                            {% for key, value in values %}
                                                <li class="list-group-item">
                                                    {% if value is iterable %}
                                                        {{ key }} :
                                                        <ul class="list-group list-group-flush">
                                                            {% for key_bis, value_bis in value %}
                                                                <li class="list-group-item">
                                                                    {{ key_bis }} : {{ value_bis }}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% else %}
                                                        {{ key }} : {{ value }}
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if lat is defined and long is defined %}
            <div class="row my-4">
                <div class="col mx-auto">
                    <div id="map"></div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loader').fadeOut(300);
        });
    </script>
    {% if lat is defined and long is defined %}
        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Uluru
                var uluru = {lat: {{ lat }}, lng: {{ long }}};
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 4, center: uluru});
                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({position: uluru, map: map});
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpPr93f37BpgldtzH3X1GhujUHMQVdpWM&callback=initMap">
        </script>
    {% endif %}
{% endblock %}
